/*
@media screen and (max: 640px) {
    #mobile-nav-bar {
        width: 100vw;
        color: tomato;
        background: #000;
    }
    #general-navbar{
        width: 100vw;
        color: tomato;
        background: #000;
    }
    
}*/

#general-navbar{
    width: 100vw;
}